# Site settings
title: Recommendations for IoT Device Manufacturers
description: "Recommendations for IoT Device Manufacturers: Catalog of Device Cybersecurity Capabilities"
baseurl: "/IoT-Device-Cybersecurity-Requirement-Catalogs" # the subpath of your site, e.g. /blog

# Build settings
markdown: kramdown
kramdown:
  parse_block_html: true
-auto_ids: true

exclude:
- ".ruby-version"
- ".jekyll-metadata"
- ".gitignore"
- Gemfile
- Gemfile.lock
- Makefile
- vendor
- README.md
- "*.yml"

# GitHub information will uncomment ones names are finalized and NIST GitHub Pages resources have been allocated
#org_name: usnistgov
#repo_name: nistpages-shell

# Navigation
# List links that should appear in the site sidebar here
navigation:
- text: Introduction
  url: /
  collection: Frontmatter
- text: Technical Capabilities
  url: /technical/
  collection: Technical
- text: Non-Technical Capabilities
  url: /nontechnical/
  collection: Nontechnical
- text: NIST Informative References
  url: /informative_references/
  collection: InformativeReferences
- text: FAQs
  url: /FAQs/
  collection: FAQs
  
collections:
  Frontmatter:
    output: true
  Technical:
    output: true
  Nontechnical:
    output: true
  InformativeReferences:
    output: true
  FAQs:
    output: true

relative_links:
  enabled:     true
  collections: true

#Uncomment when we go live 
host: 0.0.0.0

include:
- _stylesheets
- _javascript

# Custom site configuration
lang: en
