<nav style="top:18px;width:12.5%;height:100%" class="navbar navbar-default navbar-fixed-left" role="navigation">
	<ul class="nav navbar-nav">
      {% for link in site.navigation %}
        {% assign current = '' %}
        {% if link.url == page.url or (link.collection and page.collection == link.collection) %}
          {% assign current = 'active' %}
        {% endif %}
        
        <li style="font-size:18px; width:95%;" class="{{ current }}">
          {% if link.external %}
              <a href="{{ link.url }}">{{ link.text }} <i class="fa fa-external-link"></i></a>
          {% else %}
              <a href="{{ site.baseurl }}{{ link.url }}">{{ link.text }}</a>
          {% endif %}
          
          {% if link.collection and page.collection == link.collection %}
        
            {% assign c = site.collections | where: "label", link.collection | first %}
            {% assign pages = c.docs | sort: 'navOrder' %}

            {% if c.label == 'Nontechnical' %}
		{% include subnav.html label="Manufacturer" urlCheck="manufacturer" pages=pages %}
                {% include subnav.html label="Customer" urlCheck="customer" pages=pages %}
            {% else %}

            <ul class="subnav">
            {% for p in pages %}
              {% unless p.exclude %}
              	{% assign scurrent = '' %}
              	{% if page.url == p.url %}
                	{% assign scurrent = 'active' %}
              	{% endif %}
              
              	<li style="padding-bottom:10px; font-size:15px;" class="{{ scurrent }}"><a href="{{ site.baseurl }}{{ p.url }}">{{ p.navTitle }}</a></li>
              {% endunless %}
            {% endfor %}
          
            </ul>
          {% endif %}
          {% endif %}
          
          
        </li>
      {% endfor %}
      
      
  </ul>

</nav>
